<h3>Register</h3>
<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="username" placeholder="Enter username..." />
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" name="password" placeholder="Enter username..." />
    <input type="submit" class="login__btn" value="Register" />
    <p class="login__msg"><a href="/admin">Login</a></p>
</form>